.messaging-page {
    display: flex;
    height: calc(100vh - 60px);
    width: 100%;
    gap: 20px;
    padding: 20px;
}

.messaging-page .posts-container {
    width: 20em;
    background-color: white;
    color: black;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.messaging-page .message-container {
    width: 120;
    display: flex;
    flex-direction: column; 
    height: 100vh;
}

.messaging-page .messages-content {
    color: black;
    flex: 1; 
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: lightslategray;
}

.messaging-page .myMessage,
.messaging-page .otherMessage {
    padding: 0.5em;
    margin: 0.25em 0;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    display: inline-block;
    color: black;
}

.messaging-page .myMessage {
    background-color: #dcf8c6;
    margin-left: auto;
}

.messaging-page .otherMessage {
    background-color: #fff;
    margin-right: auto;
}

.messaging-page .post-messages {
    color: black;
    text-align: center;
    height: 5em;
    background-color: rgb(250, 213, 213);
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.messaging-page .post-button {
    color: black;
    border: none;
    font-size: 1rem;
    background: none;
}

.messaging-page .post-button:hover {
    background-color: rgb(240, 200, 200);
    text-decoration: underline;
}

.messaging-page #messageForm div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
    padding: 0.5em;
}

.messaging-page .post:hover {
    text-decoration: underline;
    cursor: pointer;
}

.messaging-page label {
    font-size: 1.25rem;
    font-weight: bold;
}

.messaging-page #messageForm {
    background: white;
    padding: 1em;
    border-top: 1px solid #ddd;
}