.messaging-page h1 {
    color: white;
    background-color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.messaging-page {
    display: flex
}

.messaging-page .posts-container {
    width: 17.5em;
    background-color: white;
    color: black;
    height: 100vh;   

    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.messaging-page .message-container {
    flex: 1;
    background-image: url("clouds.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 75vh;
    display: flex;
    flex-direction: column;
}

.messaging-page .messages-content {
    color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 1em;
    gap: 0.5em;
}

.messaging-page .myMessage {
    color: black;
    background-color: lightgreen;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: 1em;
}

.messaging-page .otherMessage {
    color: black;
    background-color: rgb(31, 180, 230);
    width: 50%;
    text-align: center;
    margin-left: 1em;
}

.messaging-page .post-messages {
    color: black;
    text-align: center;
    background-color: rgb(250, 213, 213);
    height: 5em;
    justify-content: center;
    align-content: center;

    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

.messaging-page .post-button {
    color: black;
    border: none;
    font-size: 1rem;
    background: none;
}

.messaging-page .post-button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.messaging-page .post-button.active {
    text-decoration: underline;
    font-weight: bold;
    background-color: rgb(240, 200, 200);
}

.messaging-page .post {
    color: black;
    border: none;
    font-size: 2rem;
    background: none;
}

.messaging-page .post:hover {
    text-decoration: underline;
    cursor: pointer;
}

.messaging-page #messageForm div {
    display: flex;
    flex-direction: row;
    align-items: left;
    gap: 1em; 
    padding: 0.5em;
}

.messaging-page label {
    font-size: 1.25rem;
    font-weight: bold;
}

.messaging-page #messageForm {
    background: white;
    padding: 1em;
    border-top: 1px solid #ddd;
}